<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>
		.col-xs-12 {
	     z-index: 100;
		}
	</style>

</head>
<body>
	<div class="container">
		<h1>Vocabulary Builder</h1>
		<h2>Welcome, Dhruv</h2>
		<hline>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default" id="insert">
					<div class="panel-heading">
						<button class="panel-title btn" data-toggle="collapse" data-target="#input_new_word">
							Insert new word
						</button>
					</div>
					<div class="collapse panel-body" id="input_new_word">
						<form id="input_new_word_form">
						  <div class="form-group">
						    <label for="input_word">Word (in chosen language)</label>
						    <input type="text" class="form-control" id="input_word" name="input_word" placeholder="Word (in chosen language)">
						  </div>
						  <div class="form-group">
						    <label for="input_meaning">Meaning (in English)</label>
						    <input type="text" class="form-control" id="input_meaning" name="input_meaning" placeholder="Meaning (in English)">
						  </div>
						  <div class="form-group">
						    <input type="password" class="form-control" id="input_secret" name="input_secret" placeholder="What's the password, Lebowski?">
						  </div>
						  <div class="radio">
							  <label>
							    <input type="radio" name="input_language" id="input_lang_french" value="french" checked>
							    Français
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="input_language" id="input_lang_japanese" value="japanese">
							    日本語
							  </label>
							</div>
						  <button type="submit" class="btn btn-default" id="input_word_submit">Submit</button>
						  <span id="input_success_message"></span>
						</form>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<div class="panel panel-default" id="insert">
					<div class="panel-heading">
						<button class="panel-title btn" data-toggle="collapse" data-target="#practice_word">
							Practice on Random Words
						</button>
					</div>
					<div class="collapse panel-body" id="practice_word">
						<form id="get_random_word_form">
							<label>Choose Language</label>
							<div class="radio">
								  <label>
								    <input type="radio" name="input_language" id="input_lang_french2" value="french" checked>
								    Français
								  </label>
								</div>
								<div class="radio">
								  <label>
								    <input type="radio" name="input_language" id="input_lang_japanese2" value="japanese">
								    日本語
								  </label>
								</div>
								<button type="submit" class="btn btn-default" id="get_random_word">Get Word</button>

								<div id="random_word"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
	// Submit script
	$("#input_new_word_form").submit(function(event){
		event.preventDefault();
		$("#input_success_message").html("");
    var isValid = true;

    // do all your validation here
    // potentially if one of the fields is empty 
    // isValid will be set to false
    $(":text").each(function() {
	    if($(this).val() === "") {
	    	console.log("Empty Field: " + $(this).attr('id'));
  			isValid = false;
	    }
		});

    console.log(isValid);
    if (isValid) {        
    		console.log("Submitting form");
        // call the submission API
        // show feedback on the screen to indicate that insert was successful
        var api_call = "/insert-word?" + $(this).serialize();
        console.log(api_call);
        $.get(api_call, function(data) {
				  console.log(data);
				  // write success/fail message in some div element
				  if (data.success) {
				  	$("#input_success_message").html('<p style="color:green">Successfully inserted</p>');
				  } else {
				  	$("#input_success_message").html('<p style="color:red">Error while inserting word!</p>');
				  }
				});
    }
	});

	var revealWord = function(word) {
		$("#random_meaning").html('<h3>Meaning : ' + word + '</h3>');
	}

	// Get new random word and render it
	$("#get_random_word_form").submit(function(event) {
		event.preventDefault();

		// get random word
		$.get("/get-random-word?" + $(this).serialize(), function(data) {
			// render HTML
			$("#random_word").html('<h3>Word: <b>' + data.word + '</b></h3><div id="random_meaning"><button class="btn btn-default" onclick="revealWord(&quot;' + data.meaning + '&quot;)">Show Meaning</button></div>');
		});
	})
</script>